<html>
    <body>
        <center>
            <h1> Banking Customer Churn Prediction </h1>
            <br><br><br>
            <form method="post" action="/predict">
                CreditScore: <input type="text" name="cs"><br><br>
                Geography: <input type="text" name="geo"><br><br>
                Gender: <input type="text" name="gen"><br><br>
                Age: <input type="text" name="age"><br><br>
                Balance: <input type="text" name="bal"><br><br>
                NumOfProducts: <input type="text" name="nop"><br><br>
                IsActiveMember: <input type="text" name="iam"><br><br>
                <input type="submit" value="submit"><br><br>
                
            </form>
            <br><br><br>
            <p> Designed by ABC</p>
            
            
          
        </center>
    </body>
</html>